DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

PORT=3000

SENTRY_DSN=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_HOST_PORT=
PGADMIN_CONTAINER_PORT=

REDIS_HOST=
REDIS_PORT=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

REDIS_PASSWORD=

REDIS_TTL=
REDIS_DB=

NODE_ENV=

DATABASE_URL=