NODE_ENV=
PORT=3000

DATABASE_URL=
DATABASE_SSL=

DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=3600

ALLOWED_ORIGINS=

SENTRY_DSN=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_HOST_PORT=
PGADMIN_CONTAINER_PORT=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MANAGER_EMAIL=